/* .comment-box{
    align-items: center;
    height: 300px;
    margin-top: 20px;
    margin-left:80px;
    margin-right:80px;
    background-color: lightgrey;
}
.form {
    margin-top: 10px;
    align-items: center;
}
.form button {
    width: 100px;
    height: 32px;
    margin-top:12px;
    margin-left: 10px;
}
.list{
    margin-top: 20px;
    margin-left: 300px;
} */
.texarea{
    margin-top: 10px;
    /* margin-right: 150px; */
}
/* 
.query{

    margin-top:50px;
    left: 0px;
}
.ul li{
    list-style-type:none;
}
 .comment{
    color:black;
    margin-top: 10px;
    margin-left: 50px;
} 

.reply-on-comment{
    margin-top: 10px;
    margin-left:100px;
    
    
} */